body.light {
  --compsBgc: #ffffffa8;
  --iconColor: #505050;
  --hoverBgc: #e3e3e3;
  --cardBgc: #d9d9d9;

  --inputBackgroundColor: #fff;
  --inputTextColor: #000;
  --fontWeight: 500;
  
  --borderColor: #d4d4d4;
  --sharpBorderColor: #000;
  
  --playBtnBgc: #878787;
  --lightFontColor: #fff;
  --songContBgc: rgb(107, 107, 107);

  --playerInnerBgc: #F1F3F4;

  --boxShadowColor: rgba(0, 0, 0, 0.25);

  --pageBackgroundColor: #fff;
  
  background-color: var(--pageBackgroundColor);
  transition: .2s;
  transition-property: background-color;
}
body.dark {
  --compsBgc: #141414a8;
  --iconColor: #c1c1c1;
  --hoverBgc: #262626;
  --cardBgc: #424242;

  --inputBackgroundColor: #2e2e2e;
  --inputTextColor: #fff;
  --fontWeight: normal;
  
  --borderColor: #343434;
  --sharpBorderColor: #fff;
  
  --playBtnBgc: #878787;
  --lightFontColor: #fff;
  --songContBgc: rgb(107, 107, 107);

  --playerInnerBgc: #363636;
  
  --boxShadowColor: rgba(107, 107, 107, 0.25);
  
  --pageBackgroundColor: #141414;
  
  background-color: var(--pageBackgroundColor);
  transition: .2s;
  transition-property: background-color;
}

/* @media (prefers-color-scheme: light) {
  body.light {
    --compsBgc: #ffffffa8;
    --iconColor: #505050;
    --hoverBgc: #e3e3e3;
    --cardBgc: #d9d9d9;
  
    --inputBackgroundColor: #fff;
    --inputTextColor: #000;
    --fontWeight: 500;
    
    --borderColor: #d4d4d4;
    --sharpBorderColor: #000;
    
    --playBtnBgc: #878787;
    --lightFontColor: #fff;
    --songContBgc: rgb(107, 107, 107);
  
    --playerInnerBgc: #F1F3F4;
  
    --boxShadowColor: rgba(0, 0, 0, 0.25);
  
    --pageBackgroundColor: #fff;
    
    background-color: var(--pageBackgroundColor);
    transition: .2s;
    transition-property: background-color;
  }
}

@media (prefers-color-scheme: dark) {
  body.dark {
    --compsBgc: #141414a8;
    --iconColor: #c1c1c1;
    --hoverBgc: #262626;
    --cardBgc: #424242;
  
    --inputBackgroundColor: #2e2e2e;
    --inputTextColor: #fff;
    --fontWeight: normal;
    
    --borderColor: #343434;
    --sharpBorderColor: #fff;
    
    --playBtnBgc: #878787;
    --lightFontColor: #fff;
    --songContBgc: rgb(107, 107, 107);
  
    --playerInnerBgc: #363636;
    
    --boxShadowColor: rgba(107, 107, 107, 0.25);
    
    --pageBackgroundColor: #141414;
    
    background-color: var(--pageBackgroundColor);
    transition: .2s;
    transition-property: background-color;
  }
} */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', 'sans-serif';
}