.outerLibCont {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.libCont {
    --gaps: 1rem;
    background-color: var(--cardBgc);
    padding: var(--gaps);
    padding-top: 2.7rem;
    border-radius: 20px;
    width: 100%;
    min-height: 195px;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gaps);
    overflow: auto;
    scroll-behavior: smooth;
    /* box-shadow: 0px 0px 10px var(--boxShadowColor); */
}
.libCont::-webkit-scrollbar {
    display: none;
}
.arrCont {
    position: absolute;
    background-color: #87878769;
    backdrop-filter: blur(25px);
    display: flex;
    border-radius: 50%;
    padding: 10px;
    transition: .2s;
    cursor: pointer;
    font-size: 1.5rem;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.3);
    --position: -1rem;
}
.arrCont:hover {
    opacity: .7;
    box-shadow: -2px 0px 10px 3px rgba(0, 0, 0, 0.3);
}
.arrCont:active {
    scale: .9;
}
.right {
    right: var(--position);
}
.left {
    left: var(--position);
    transform: rotate(180deg);
}
.heading{
    position: absolute;
    top: .6rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border-top: 1px solid #a3a3a3;
    --marginWidthValue: 1rem;
    width: calc(100% - calc(var(--marginWidthValue) * 2));
    margin: .5rem var(--marginWidthValue);
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); */
}
.heading::before{
    content: attr(customtitle);
    position: absolute;
    padding: 0 .8rem;
    font-size: 1.1rem;
    background-color: var(--cardBgc);
    color: var(--inputTextColor);
    font-weight: var(--fontWeight);
}

@media only screen and (max-width: 800px), (max-height: 600px) {
    .arrCont {
        backdrop-filter: none;
    }
}